<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Sport event list</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Find Sport events</h1>
        <p class="lead fw-normal text-muted mb-0">Groups of passionate sport fans near you or create an event</p>
        <a class="btn btn-primary" th:href="@{/sportEvents/{sportId}/new(sportId=${sport.id})}">Create Sport event</a>
      </div>
      <div class="row gx-5">
        <div>
          <form th:action="@{/sports/search}" class="form-inline my-2 my-lg-0 mb-3">
            <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search running clubs" aria-label="Search">
          </form>
        </div>
        <div th:each="sportEvent :${sportEvents}" class="col-lg-6 mb-2">
          <div class="position-relative mb-3">
            <img class="img-fluid rounded-3 mb-3" th:src="${sportEvent.photoUrl}" alt="..." />
            <a th:text="${sportEvent.name}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
          </div>
          <a class="btn btn-primary" th:href="@{/sportEvents/{sportEventId}(sportEventId=${sportEvent.id})}">View</a>
          <a class="btn btn-primary" th:href="@{/sportEvents/{sportEventId}/edit(sportEventId=${sportEvent.id})}">Edit</a>
        </div>
      </div>
    </div>
    </div>
  </section>
</main>
</body>
</html>